[submodule "external/VulkanHpp"]
	path = external/VulkanHpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
